body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.form-group {
    margin-bottom: 1rem;
}
.form-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2rem;

}

label {
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #fff;
    color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
}

button:hover{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
}
